@import "tailwindcss";

/* Light mode variables */
:root {
  --background: #ffffff;
  --foreground: #000000;

  --light-hover: #fffaf4;
  --dark-hover: #1d2a62;
  --dark-theme: #11001F;

  --font-family-outfit: 'Outfit', sans-serif;
  --font-family-ovo: 'Ovo', serif;

  --box-shadow-black: 4px 4px 0 #000;
  --box-shadow-white: 4px 4px 0 #fff;

  --grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* Apply vars globally */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode overrides */
html.dark {
  --background: #11001F;
  --foreground: #ffffff;

  --light-hover: #1d2a62;
  --dark-theme: #11001F;

  --box-shadow-black: 4px 4px 0 #000;
  --box-shadow-white: 4px 4px 0 #fff;
}
html {
  scroll-behavior: smooth;
}
